body {margin:0;}

body {font-style: italic;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(71, 70, 70);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
  font-size: 120%;
  font-style: italic;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #7869fd;
}

.blog2 {
  background-color: rgb(193, 157, 252);
  padding: 2%;
  border: 4px solid;
  
  
  
  
    
    


 
}
.blog1 {
  
  background-color: rgb(193, 157, 252);
  padding: 2%;
  border: 4px solid;
  
  
}
.blog3 {
  background-color: rgb(193, 157, 252);
  padding: 2%;
  border: 4px solid;
  
  
  

}

.titel1 {
  justify-content: center;
  display: flex;
  place-items: center;

}

@media screen and (min-width: 600px) {
  #bloggrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
    grid-gap: 20px;
    
  }
  body{
    margin-top: 70px;
    background-color: #FBF8DE;
  }
  .foto2{
  height: 65%
  ;}
  .foto1{
    height: 65%;
  }
  .foto3{
    height: 65%;
  }
}