body {
margin:0;
height: 100%;
background-color: #FBF8DE;
justify-content: center;
}

body {font-style: italic;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(71, 70, 70);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
  font-size: 120%;
  font-style: italic;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #7869fd;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;

}

.slides {
  width: 500%;
  height: 500px;
  display: flex;

}

.slides input {
  display: none;

}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;

}

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;

}

.manual-btn{
  border: 2px solid;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  background-color: rgb(107, 107, 246);

}

.manual-btn:not(:last-child){
  margin-right: 40px;

}

.manual-btn:hover{
  background-color: red;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -10%;
  
}

#radio3:checked ~ .first {
  margin-left: -13.5%;
}

#radio4:checked ~ .first {
  margin-left: -15%;
}