body {margin:0;}

body {font-style: italic;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(71, 70, 70);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
  font-size: 120%;
  font-style: italic;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #8b7ffb;
}

.video1 {
  
  padding: 1%;
  border-style: solid;
  border-color: black;
  
}

.video2 {
  
  
  padding: 1%;
  
    border-style: solid;
    height: 893px;
  
  
}

.video3 {
  
  padding: 1%;
  
  
  
  border-style: solid;
  height: 893px;

}
.titel1{
  justify-content: center;
  place-content: center;
  place-items: center;
  justify-content: center;
  display: flex;
   
}

.par1{
  font-size: 140%;
}
.par2{
  font-size: 140%;
}

.par3 {
  font-size: 140%;
}

@media screen and (min-width: 600px) {
  #videogrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
    grid-gap: 20px;
  }
  body{
    margin-top: 70px;
    background-color: #FBF8DE;
  }
  
}
